.ChatRoom-wrapper {
  background-color:black;
  opacity: 0.9;
  height: 70vh;
  position: relative;
  border-radius: 0.5em;
}
.ChatRoom {
  background-color:black;
  height: 100%;
  position: relative;
}
.ChatRoom form {
  background: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* width: 65%; */
}

.ChatRoom form input {
  padding: 10px;
  width: 85%;
  /* margin: 2px 0; */
}

.ChatRoom ul {
  max-height: 60vh;
  overflow:auto;
}

.ChatRoom form button {
  /* float: right; */
  background-color: tomato;
  border: none;
  border-radius: 5px;
  padding: 1em 0;
  width: 14%;
  /* margin: 3px 0; */
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
  opacity: 1.5;
  border-radius: 0.2em;
}

#messages li:nth-child(odd) {
  background: gray;
}