/* variables */
:root {
  --bgColor:#8c807d;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--bgColor);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('/img/wall.jpg') center no-repeat;
  background-size: cover;
  filter: opacity(97%);
  z-index: -5;
  height:100vh;
}





/* body::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; 
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  height:100%;
  background-image: url('/img/wall.jpg');
  filter: blur(5px) opacity(60%);
  z-index: -1;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
